logging: debug

mqtt:
  broker: "127.0.0.1"
  port: 1883
  user: 
  password:

components:
  - platform: macos_notify
    state_topic: mqtthawk/notify
    
  - platform: macos_brightness
    command_topic: mqtthawk/screen/set
    state_topic: mqtthawk/screen
